<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"]JobIn - Bilişim Kariyer Platformu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobIn.Web.styles.css" asp-append-version="true" />

    
@* 
    <link rel="icon" href="" type="image/png"> *@
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">

    <link rel="stylesheet" preload href="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/static/libs/%40fortawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" preload href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">
    <link rel="stylesheet" href="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/static/libs/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/static/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="https://coderspace-storage-prod.s3.eu-central-1.amazonaws.com/static/CACHE/css/output.97dcd814f751.css" type="text/css">
    
     
   
     <link rel="icon" href="~/JobIn-Post/img/faviconn.png"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/JobIn-Post/css/bootstrap.min.css">
    <!-- animate CSS -->         
    <link rel="stylesheet" href="~/JobIn-Post/css/animate.css">
    <!-- owl carousel CSS -->    
    <link rel="stylesheet" href="~/JobIn-Post/css/owl.carousel.min.css">
    <!-- themify CSS -->         
    <link rel="stylesheet" href="~/JobIn-Post/css/themify-icons.css">
    <!-- flaticon CSS -->        
    <link rel="stylesheet" href="~/JobIn-Post/css/flaticon.css">
    <!-- font awesome CSS -->    
    <link rel="stylesheet" href="~/JobIn-Post/css/magnific-popup.css">
    <!-- swiper CSS -->          
    <link rel="stylesheet" href="~/JobIn-Post/css/slick.css">
    <!-- style CSS -->           
    <link rel="stylesheet" href="~/JobIn-Post/css/style.css">

</head>
<body>
    <div class="sayfa-alti" style="overflow:hidden;">
    
    
        <!--::header part start::-->
        <header class="main_menu home_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html" style="margin-top: -3px;"> <img src="~/JobIn-Post/img/single_page_logo.png" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse main-menu-item justify-content-end"
                                 id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center">
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html" style="font-family:Arial; font-size:large; font-weight: lighter;">İş İlanları</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="cource.html" style="font-family:Arial; font-size:large; font-weight: lighter;">Staj İlanları</a>
                                    </li>
                                    
                                  
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html" style="font-family:Arial; font-size:large; font-weight: lighter;">Bootcamp</a>
                                    </li>

                                <li class="nav-item">
                                        <a class="nav-link" href="contact.html" style="font-family:Arial; font-size:large; font-weight: lighter;">Etkinlikler</a>
                                </li>
                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="#">Giriş Yap</a>
                                    </li>

                               
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header part end-->
        <!-- banner part start-->
    @RenderBody()



    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_part_text text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="footer-text m-0">
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright  &copy;<script>document.write(new Date().getFullYear());</script>  Her Hakkı Saklıdır.   
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

    </div>
        <!-- footer part end-->
        <!-- jquery plugins here-->
        <!-- jquery -->
        <script src="~/JobIn-Post/js/jquery-1.12.1.min.js"></script>
        
        <script src="~/JobIn-Post/js/popper.min.js"></script>
        
        <script src="~/JobIn-Post/js/bootstrap.min.js"></script>
       
        <script src="~/JobIn-Post/js/jquery.magnific-popup.js"></script>
       
        <script src="~/JobIn-Post/js/swiper.min.js"></script>
       
        <script src="~/JobIn-Post/js/masonry.pkgd.js"></script>
       
        <script src="~/JobIn-Post/js/owl.carousel.min.js"></script>
        <script src="~/JobIn-Post/js/jquery.nice-select.min.js"></script>
       
        <script src="~/JobIn-Post/js/slick.min.js"></script>
        <script src="~/JobIn-Post/js/jquery.counterup.min.js"></script>
        <script src="~/JobIn-Post/js/waypoints.min.js"></script>
        
        <script src="~/JobIn-Post/js/custom.js"></script>
    
    

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    



    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
